@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;



h1, h2, h3, h4, h5, h6 {
    color: $text-primary;
    font-weight: $font-bold;
    line-height: $line-height-tight;
    margin-bottom: $space-md;
}

h1 {
    font-size: $font-4xl;
    
    @include mobile {
        font-size: $font-3xl;
    }
}

h2 {
    font-size: $font-3xl;
    
    @include mobile {
        font-size: $font-2xl;
    }
}

h3 {
    font-size: $font-xl;
}

h4 {
    font-size: $font-lg;
}

p {
    margin-bottom: $space-md;
}

.lead {
    font-size: $font-lg;
    font-weight: $font-medium;
    color: $text-primary;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: $primary-color;
}

.text-light {
    color: $text-light;
}